@font-face{
    font-family: IA ;
    src: url(fonts/Montserrat-SemiBold.ttf) format(truetype);
}
@font-face {
    font-family: menu ;
    src: url(fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);
}
*{
    padding: 0px;
    margin: 0px;
    border: opx;
}
body{
    background-color: #0C1117;
}
header{
    background-color: #1f2842;

}
button{
    margin: 0px 50px;
}
.marca{
    color: rgb(255, 255, 255);
    display: flex;
    padding: 6px;
}
.nome{
    display: block;
    margin-top: 16px;
    font-family: "IA";
    letter-spacing: 1.5px;
    font-size: 130%;
}
.ia{
    background: linear-gradient(to right, rgb(103, 194, 255), rgb(0, 38, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    text-shadow: 0 0 1px #5dbeff, 0 0 4px #0026ff;
}
.logo{
   width: 60px;
   height: 58px;
   border-radius: 35px;
   margin-right: 10px;
}
a:link,
a:visited,
a:hover,
a:active{
    text-decoration:none;
}
a{
    text-decoration: none;
    color: rgb(136, 164, 255);
    padding: 0px 20px ;
    border-radius: 7px;
    display: inline-block;
    transition: 1.0s;
    font-family: menu;
    text-shadow: 0 0 1px #5dbeff, 0 0 4px #0026ff;
}
a:hover{
    color:#1f2842;
    background-color: rgb(181, 193, 230);
    text-shadow: 0 0 1px #000427, 0 0 2px #01003f;
    padding: 0px 30px;
}
/*titulo{
    display: block;
    margin: auto;
    transform: translateX(-85px);
}*/
.titulo{
    display: block;
    margin: auto;
    transform: translateX(-85px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-shadow: 0 0 1px #5dbeff, 0 0 4px #0026ff;
    font-family: "menu";
    font-size: 2.5pc;
}
